.product-list {
    display: flex;
    flex-wrap: wrap; /* 아이템을 여러 줄로 배치 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    width: 100%;
    box-sizing: border-box;
    gap: 10px; /* 아이템 간의 간격을 위해 gap 추가 */
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 10px); /* 5개의 아이템 배치, gap 고려 */
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* 필요에 따라 경계선 추가 */
}

.product-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-details {
    text-align: center;
}

@media (max-width: 1200px) {
    .product-item {
        width: calc(25% - 10px); /* 한 줄에 4개 배치 */
    }
}

@media (max-width: 992px) {
    .product-item {
        width: calc(33.33% - 10px); /* 한 줄에 3개 배치 */
    }
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 10px); /* 한 줄에 2개 배치 */
    }
}

@media (max-width: 576px) {
    .product-item {
        width: calc(100% - 10px); /* 한 줄에 1개 배치 */
    }
}
