/* 전체 헤더 스타일 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

/* 내부 요소 스타일 */
.header_inner {
    display: flex;
    justify-content: space-between;
    background-color: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);
    padding: 1rem;
}

.header_logo {
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.search-bar {
    flex: 0.5;
    margin: 10px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_nav li {
    display: inline;
}

.header_nav a {
    font-size: 20px;
    padding: 14px;
    position: relative;
}

.logout-button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-decoration: underline;
}

.header_nav a::before {
    content: '';
    width: calc(100% - 28px);
    height: 1px;
    background-color: var(--black);
    position: absolute;
    left: 14px;
    bottom: 10px;
    transform: scaleX(0);
    transition: all 0.3s;
}

.header_nav a:hover::before {
    transform: scaleX(1);
}

.header_nav_mobile {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header_nav_mobile span {
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--black);
    margin-top: 19px;
    position: relative;
}

.header_nav_mobile span::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    right: 0;
    top: 6px;
    transition: width 0.3s;
}

.header_nav_mobile span::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: width 0.3s;
}

@media (max-width: 800px) {
    .header_nav {
        display: none;
    }

    .header_nav.show {
        display: block;
    }

    .header_nav.show ul {
        display: block;
        position: absolute;
        right: 0;
        top: 68px;
        background-color: rgba(116, 99, 99, 0.1);
        backdrop-filter: blur(15px);
        z-index: 10000;
        min-width: 150px;
        padding: 20px 0;
    }

    .header_nav.show ul li {
        display: block;
        text-align: right;
    }

    .header_nav.show ul li a {
        display: inline-block;
        padding: 10px;
    }

    .header_nav.show + .header_nav_mobile span::before {
        width: 20px;
    }

    .header_nav.show + .header_nav_mobile span::after {
        width: 20px;
    }

    .header_nav_mobile {
        display: block;
    }
}